.wrapper{
    height: 100%;
    width: 100%;
}
.sidenav-container {
    position: fixed;
    z-index: 22;
    width: 75px;
    height: 100vh;
    background-color: #fff;
    left: 0;
    top: 0;
    transition: all 0.4s ease;
}
.sidenav-container.sidenav-hover{
    width: 240px;
}
.sidenav-container.sidenav-hover .logo-text{
    display: inline-block;
}
.sidenav-container.sidenav-hover .navleft-menu li a span {
    display: inline-block;
}

.scroll-sidebar {
    height: calc(100vh - 97px);
    overflow-x: hidden;
}
.content-page {
    position: relative;
    margin-left: 75px;
    padding: 30px;
    padding-bottom: 0;
    padding-top: 75px;
    min-height: 100vh;
    background: #F6F7FB;
    transition: all 0.4s ease;
    overflow: hidden;
}
.sidenav-logo{
    padding: 25px 22px 20px 22px;
    display: flex;
    align-items: center;
}
.logo-icon img {
    min-width: 32px;
}
.logo-text{
    margin-left: 18px;
    display: none;
}

.sidebar-opened .logo-text{
    display: inline-block;
}
.navleft-menu li a{
    padding: 16px 0px 16px 25px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #445882;
    line-height: 18px;
    align-items: center;
}
.navleft-menu li a img {
    margin-right: 14px;
    min-width: 20px;
}
.navleft-menu li a span{
    display: none;
    margin-left: 14px;
}
.navleft-menu li a.active img{
    filter: invert(54%) sepia(44%) saturate(7009%) hue-rotate(150deg) brightness(84%) contrast(99%);
}
.navleft-menu li a.active span{
    color: #01A39D;
}
.navleft-menu li ul{
    margin-left: 52px;
}
.navleft-menu li ul li a{
    padding: 10px 0px 10px 25px;
}

.sidebar-opened .sidenav-container{
    width: 240px;
}
.sidebar-opened .content-page{
    margin-left: 240px;
}
.sidebar-opened .navleft-menu li a span{
    display: inline-block;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 75px;
    right: 0;
    padding: 30px;
    padding-bottom: 0;
}
.sidebar-opened .top-bar{
left: 240px;
}
.top-bar.is-stuck-top{
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 15px 0px 15px rgb(0 0 0 / 20%);
} 

.icon-logo-left img{
    min-width: 32px;
    margin-right: 20px;
}
.top-bar-left > p{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #102A5E;
    margin-bottom: 0;
}
.top-bar-icon > li{
    margin-left: 15px;
}
.top-bar-icon > li > a{
    font-size: 18px;
}
.navbar-custom li{
    display: inline-block;
    vertical-align: middle;
}
.userProfile{
    display: flex;
    align-items: center;
}
.userProfile img{
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.userProfile p{
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 0;
    color: #8A93A6;
}
.userProfile span{
    font-size: 14px;
    font-weight: 500;
    color: #455882;
}
.userProfile span i{
    color: #01A39D;
    font-style: normal;
}

.content-title-part{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0;
}
.dropdown-menu-small{
    min-width: inherit;
}
.content-title-part h1{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #102A5E;
    margin: 4px 0;
}
.small-dropdown-btn{
    padding: 8px 10px 7px 20px;
    border: 2px solid #01A39D;
    border-radius: 7px;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: block;
    color: #ffffff;
    font-weight: 500;
    background-color: #01A39D;
}
.small-dropdown-btn i{
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}
.small-dropdown-btn:hover{
    color: #01A39D;
    background-color: transparent;
}
.d-card-col{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 18px 30px;
}
.d-card-col h2{
    font-size: 34px;
    font-weight: 500;
    color: #102A5E;
    margin-bottom: 10px;
}
.d-card-col-content h5{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 0;
    color: #01A39D;
}
.d-card-col-content span{
    font-size: 14px;
    line-height: 18px;
    color: #102A5E;
    opacity: 0.8;
}
div#submissionsChart {
    overflow: hidden;
}
.submissions-part{
    padding: 30px;
    padding-bottom: 10px;
}
.submissions-part h5{
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.submissions-part p{
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
}
.submissions-part p span{
    color: rgba(255, 255, 255, 1);
}

.userProfile-info span i {
    display: inline-block;
    width: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: normal;
    margin-left: 0;
    color: #01a39d;
    vertical-align: middle;
}
.card{
    border: none;
    border-radius: 14px;
}
.card-title{
    display: flex;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 26px;
}
.card-title h1{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #102A5E;
}
.user-recent-row{
    display: flex;
    justify-content: space-between;
    
}
.user-recent-row:not(:last-child){
    margin-bottom: 20px;
}
.user-recent-left{
    display: flex;
    margin-right: 20px;
}
.user-recent-avatar{
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.user-recent-avatar img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.user-avatar-info h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #102A5E;
    margin-bottom: 0;
}
.user-avatar-info p{
    font-weight: normal;
    font-size: 14px;
    color: #102A5E;
    margin-bottom: 0;
}
.user-avatar-info p span{
    display: inline-block;
    color: #01A39D;
}
.recent-time{
    font-size: 14px;
    color: #8A93A6;
    margin-top: 5px;
    white-space: nowrap;
}
.plan-name{
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #445882;
    text-transform: capitalize;
    font-weight: 400;
}
.view-plan{
    font-size: 14px;
    line-height: 18px;
    color: #01A39D;
}
.view-plan-col h5{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #102A5E;
    margin-bottom: 2px;
}
.view-plan-col p{
    font-size: 14px;
    color: #445882;
    margin-bottom: 3px;
}
.view-plan-col .progress{
    height: 6px;
}


@media (max-width: 991.98px) {
    .sidenav-container{
        left: -240px;
        box-shadow: 0 0px 15px rgb(0 0 0 / 20%);
    }
    .content-page, .sidebar-opened .content-page{
        margin-left: 0;
    }
    .content-page, .top-bar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar-opened .sidenav-container{
        left: 0;
    }
    .navleft-menu li a span, .sidebar-opened .logo-text {
        display: block;
    }
    
    .overlay_bg {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0 0 0 / 10%);
        display: none;
        transition: 0.4s;
    }
    .top-bar{
        left: 0;
    }
    .sidebar-opened .top-bar {
        left: 0;
    }
}
@media (max-width: 767.98px) {
    .top-bar-left > p{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 6px 10px;
        background: #fff;
        box-shadow: 0 0 3px rgb(0 0 0 / 27%);
        font-size: 15px;
    }
    .content-page{
        padding-top: 70px;
    }
    .top-bar-icon > li{
        margin-left: 0;
        margin-right: 15px;
    }
    .top-bar {
        padding-top: 45px;
    }
    .top-bar.is-stuck-top{
        padding-top: 50px;
    }
}


@media (max-width: 575.98px){
    .userProfile .userProfile-info{
        display: none;
    }
    .userProfile img{
        margin-right: 0;
    }
    .userProfile-info {
        padding: 6px 15px;
        /*background: #f5f5f5;*/
        margin-top: 8px;
        border-bottom: 1px solid #dadee6;
    }
    .userProfile-info p {
        color: #8A93A6;
        margin-bottom: 0;
        font-size: 14px;
    }
    .userProfile-info span{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        color: #455882
    }
    .userProfile-info span i {
        width: 120px;
        margin-left: 4px;

    }
}

@media (max-width: 479.98px) {

}

@media (max-width: 399.98px){

}


@media (min-width: 992px) {
    /* .sidenav-hover .navleft-menu li ul.submenu{
        display: block ;
    }
    .navleft-menu li ul.submenu{
        display: none;
    } */
    .sidebar-mini .navleft-menu ul li ul{
        display: none;
    }
}