.pdf-content-page{
	padding: 30px;
	margin-left: 0;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.pdf-content-page .form-body{
	padding: 60px;
}
.pdf-content-page .form-data-area{
	padding-bottom: 0;
}
.pdf-content-page .main-content-area{
	margin: 0;
	max-width: 100%;
	min-height: inherit;
}
.pdf-content-page .form-content-area{
	max-width: 100%;
}
.pdf-content-page .form-barcode-header{
	margin-bottom: 30px;
}
.pdf-content-page .barcode-right-flex .barcode-box{
	margin-right: 0;
	margin-left: 15px;
}
.pdf-content-page .barcode-right-flex .barcode-detail{
	text-align: right;
}
.pdf-content-page .form-card{ 
	margin-bottom: 15px;
}
.pdf-content-page .form-logo img{
	max-width: 215px;
}
.pdf-content-page .form-header-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E3E5EF;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-align: right;
}
.pdf-content-page .form-user-detail h5 {
    font-size: 17px;
    font-weight: 500;
    color: #102A5E;
    margin-bottom: 5px;
}
.pdf-content-page .form-user-detail p {
    color: #445882;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}
.pdf-content-page .form-status{
	text-align: center;
}
.pdf-content-page .form-status p{
	font-size: 12px;
	color: #102A5E;
	font-weight: 600;
	margin-bottom: 2px;
}
.pdf-content-page .data-status{
	padding: 8px 23px;
    border: 1px solid #b3aba5;
    border-radius: 7px;
    color: #102A5E;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.3px;
}
.pdf-content-page .warning-status{
	background-color: rgba(245, 170, 63, 0.3);
}
.pdf-content-page .success-status{
	background-color: rgba(1, 163, 157, 0.3);
}
.pdf-content-page .danger-status{
	background-color: rgba(252, 93, 104, 0.3);
}
.pdf-content-page .pdf-header {
    border-bottom: 2px solid #E3E5EF;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pdf-content-page .pdf-header-text{
	color: #102A5E;
	font-size: 15px;
}
.pdf-content-page .pdf-header-text p{
	margin-bottom: 0;
}
.pdf-content-page .side-line{
	display: inline-block;
	margin: 0px 5px;
}
.pdf-content-page .pdf-header-text .textbold{
	display: inline-block;
	font-weight: 600;
}
.pdf-content-page .pdf-count-text{
	display: inline-block;
	margin-left: 15px;
	font-size: 17px;
	font-weight: 400;
}
.pdf-content-page .pdf-footer{
	margin-top: 40px;
	border-top: 1px solid #1C85E8;
	border-bottom: 1px solid #1C85E8;
	padding: 15px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}