@charset "utf-8";
/* CSS Document */


/*---between--------*/
@media screen and (min-width:1499px) and (max-width:1899px){

}






/*---min-width------*/
@media (min-width: 349.98px) {
	
}

@media (min-width: 479.98px) {
	
}

@media (min-width: 575.98px) {
    .modal-dialog.setting-dialog{
        max-width: 600px;
    }
}

@media (min-width: 767.98px) {
    
}

@media (min-width: 991.98px) {

}

@media (min-width: 1199.98px) {

}

@media (min-width: 1399.98px) {

}












/*---max-width------*/
@media (max-width: 1399.98px) {

}

@media (max-width: 1199.98px) {
    
}

@media (max-width: 991.98px) {
    .page-ath-gfx {
        width: 35%;
    }
    .page-ath-content {
        width: 65%;
    }
    
}


@media (max-width: 800px){
    /*---login----*/
    .page-ath-wrap{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .page-ath-gfx {
        width: 100%;
        height: 200px;
    }
    .page-ath-content {
        width: 100%;
        height: calc(100vh - 200px);
    }
    .page-ath-gfx:before {
        background-position: center bottom 65%;
    }
    .alert-sections{
        left: 10px;
        right: 10px;
    }
    .alert{
        min-width: inherit;
    }
}

@media (max-width: 767.98px) {
    .notification-dropdown .dropdown-menu{
        left: 0;
    }
    .account-right {
        margin-left: auto;
    }
    .menu-part {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #fff;
        padding: 15px;
        padding-top: 65px;
        right: -100%;
        top: 0;
        overflow-x: hidden;
        z-index: 99;
        transition: 0.5s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    .menu-part.active{
    	right: 0;
    }
    .close-menu {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 55px;
        height: 50px;
        background-color: #ff5252;
        border-bottom-left-radius: 50px;
        text-align: center;
        padding-left: 15px;
        padding-top: 10px;
        color: #fff;
        font-size: 14px;
    }
    .toggle-btn {
        width: 2rem;
        margin-left: 10px;
    }
    .toggle-btn a {
        display: block;
        font-size: 22px;
        color: #fff;
        text-align: center;
    }
    .nav-bar li a{
        padding: 10px 18px;
        color: #00AE86;
        font-weight: 500;
    }
    .nav-bar li{
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .header-btn {
        width: 36px;
        height: 36px;
        text-align: center;
        padding: 8px;
        border-radius: 50%;
    }
    .header-btn span{
        display: none;
    }
    .header-btn i{
        display: inline-block;
    }
    .nav-bar li.active a{
        background-color: #00AE86;
        color: #fff;
    }
    .menu-part{
        margin-left: 0px;
        margin-right: 0px;
    }
    .auth-head-list h1{
        font-size: 28px;
    }
    .dataTables_wrapper .bottom{
        flex-direction: column;
        min-width: 400px;
        align-items: flex-start;
    }
    .dataTables_wrapper .dataTables_paginate{
        margin-bottom: 20px;
    }
    .form-barcode-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .barcode-flex-box{
        margin-bottom: 25px;
    }
    .form-content-area{
        max-width: inherit;
        padding-left: 20px;
        padding-right: 20px;
    }
    .history-table-box{
        max-width: inherit;
    }
    .signed-agree-box{
        flex-direction: column;
    }
    .popup-back.mt-align-back{
        margin-bottom: -24px;
    }
}

@media (max-width: 575.98px) {
    .user-header-name,
    .user-dropdown-arrow{
        display: none;
    }
    .user-dropdown-icon {
        color: #fff;
        font-size: 13px;
        width: 35px;
        height: 35px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        color: #00ae86;
        padding-top: 11px;
    }


    .page-footer{
        flex-direction: column;
    }
    .alert-sections{
        left: 10px;
    }

    .notification-dropdown .dropdown-menu{
        left: initial;
        right: -250px;
    }
    .serach-store-box{
        top: 20px;
        width: 260px;
        left: inherit;
        right: -20px;
    }
    .serach-store-box.active{
        top: 40px;
        width: 260px;
    }
    .form-content-area{
        max-width: inherit;
    }
    .status-dropdown .dropdown-toggle{
        min-width: 170px;
    }
    .signed-img-box{
        min-width: inherit;
        width: 100%;
        max-width: 340px;
    }
    .setting-modal-body{
        padding: 45px 12px;
    }
    
}


@media (max-width: 479.98px) {
    .content-title-part.multiple-filter-title{
        flex-direction: column;
        align-items: center;
    }
    .multiple-filter-title .serach-store-box{
        left: -58px;
    }
    .side-dropdown .dropdown-menu {
        min-width: 180px;
        left: -80px;
    }
    .setting-dropdown.side-dropdown .dropdown-menu{
        right: 0;
        left: inherit;
    }
    .custom-dropdown.side-dropdown .dropdown-menu{
        left: auto;
    }
	.page-ath-form{
        padding: 30px 20px;
    }
    .notification-dropdown .dropdown-menu {
        left: initial;
        right: -183px;
        min-width: 300px;
    }
    .edit-pr-heading{
        flex-direction: column;
        align-items: flex-start;
    }
    .edit-pr-heading .serach-store-box{
        left: -19px;
    }
    .barcode-flex-box{
        flex-direction: column;
        align-items: center;
            width: 100%;
    }
    .barcode-box{
        margin-right: 0px;
        margin-bottom: 12px;
    }

}


@media (max-width: 349.98px) {
	
}